// colores globales
$primary-color: #d8534f;
$primary-light-color: #ff847b;
$primary-dark-color: #a11f27;
$primary-alternative-color: #fdfdfd;

$secondary-color: #737373;
$secondary-light-color: #a0a0a0;
$secondary-dark-color: #474747;
$secondary-alternative-color: #eeeeee;

$text-light-color: #ffffff;
$text-dark-color: #000000;
