<h2 class="text-muted">{{ 'dashboard.title' | translate }} <small>{{ 'dashboard.subtitle' | translate }}</small></h2>

<hr>

<div class="row">
  <div class="col-md-4">
    <app-stat
      [bgClass]="'card-success'" [icon]="'fa-shopping-cart'"
      [countData1]="6" [data1]="'stat.stable' | translate"
      [countData2]="1" [data2]="'stat.planned' | translate"
      [label]="'stat.releases' | translate" ></app-stat>
  </div>
  <div class="col-md-4">
    <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'"
      [countData1]="7" [data1]="'stat.onHold' | translate"
      [countData2]="120" [data2]="'stat.added' | translate"
      [label]="'stat.pull-requests' | translate" ></app-stat>
  </div>
  <div class="col-md-4">
    <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'"
      [countData1]="2" [data1]="'stat.inProcess' | translate"
      [countData2]="14" [data2]="'stat.solved' | translate"
      [data2]="12" [label]="'stat.issues' | translate"></app-stat>
  </div>
</div>
